body{
    font-family: 'Lato', sans-serif;
}


/* shared style */
.btn_primary{
    color: #FFF;

font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 8px;
background: #E55473;
border: 0;
padding: 20px 43px;
margin-top: 32px;

}

.btn_primary:hover {
    cursor: pointer;
}

.primary_title{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 15px;
}


/* Header Section  */

.header_container{
   

flex-shrink: 0;
background: rgba(229, 84, 115, 0.10);
display: flex;
justify-content: space-between;

}

.header_content{
    margin: 150px 75px 150px 200px;
}

.header_content h1 {
    margin: 0;
}

.header_title{
    color: #272727;
    
    font-size: 80px;
    
    font-weight: 800;
    
   
}
.header_desc{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;

}

.header_img{
    width: 635px;




}

/* Featured Flower Section  */

.featured_container{
    width: 1440px;
    margin: 0 auto;
}

.featured_desc{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;

}

.feature-img-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px auto;
}

.feature-img-box-img {
    width: 350px;
    height: 450px;
    border-radius: 300px 300px 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin: 0 20px;
}

.feature-img-box-img img {
    width: 250px;
    height: 300px;
}

.feature-img-box-1 .feature-img-box-img {
background: rgba(167, 33, 98, 0.15);
}

.feature-img-box-2 .feature-img-box-img {
    background-color: rgba(5, 151, 160, 0.15);
}

.feature-img-box-3 .feature-img-box-img {
        background: rgba(71, 125, 17, 0.15);
}

.feature-img-box h4 {
    text-decoration: underline;
    text-align: center;
}


/* Hot Deal section */
.off{
    color: #E55473;
}
.hot_container{
    width: 100%;
height: 620px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
display: flex;
justify-content: space-between;

}

.hot_content{
    margin: 230px 400px;
    text-align: center;
}
.hot_title{
    color: #272727;
font-weight: 700;




}

.hot_desc{
    color: rgba(39, 39, 39, 0.60);
text-align: center;


}


/* Instragram Section */
.instra_container{
    width: 1440px;
    

    margin: 0 auto;

}

.instra_image{
    display: flex;
    gap: 24px;
}
.per_image{
    width: 342px;
height: 396px;
flex-shrink: 0;
}

.latest_deal{
padding: 122px 0;
margin: 128px auto;
flex-shrink: 0;
background-image: url(/images/Rectangle\ 9.png);
background-size: cover;

}
.latest_deal_content{
    
}

.input_content{
  text-align: center;
  
}

.input_box {
    padding: 0 20px;
}

.input_box::placeholder {
    color: rgba(39, 39, 39, 0.60);
  font-size: 16px;
}

.input_box{
    width: 700px;
height: 64px;
border-radius: 8px;
background: #FFF;
}


/* Footer Section */
.footer_container{
background: #111010;
margin: 128px auto;
padding: 100px 0;
color: #FFF;
text-align: center;
}

.footer_desc{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;

}

.copywrite{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.foo_title{
    color: #E55473;;
}